h1{
    text-align: center;
    color: darkblue;
    font-style: italic;
    font-stretch: semi-expanded;
}

.dados{
    text-align: center;
}

img{
    margin-left: 47%;
}

h2{
    text-align: center;
    background-color: blue;
    color: white;
}

.titulo{
    text-decoration: underline;
    text-decoration-style: solid;
}

#fundo{
    background-color: aliceblue;
    color: black;
}

.curriculo{
    border: 1px solid black;
    width: 50%;
    margin: 0px auto;
}