h1{
    text-align: center;
    color: red;
}

h2{
    font-family: fantasy;
    background-color: darkolivegreen;
    color: floralwhite;
}

h3{
    color: gray;
    font-family: Arial, sans-serif;
}

table{
    border: 2px solid black;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

td{
    border: 1px solid black;
}