h1{
    text-align: center;
    color: red;
}

h2{
    font-family: fantasy;
    background-color: darkolivegreen;
    color: floralwhite;
}

h3{
    color: gray;
    font-family: Arial, sans-serif;
}

table{
    border: 2px solid black;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

td{
    border: 1px solid black;
}

.formfield{
    display: block;
    width: 40%;
    border-radius: 10px;
    border: 1px solid #FF0000;
    
}

.formlabel{
    font-family: Arial, sans-serif;
}

#edyform{
    background-color: #e28920;
    
    float: left;
    width: 50%;
    height: 500px;
}

#g1form{
    background-color: aqua;
    float: right;
    width: 50%;
    height: 500px;
}